.App {
  width: 40%;
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 2rem;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}
.submit {
  padding-top: 2rem;
}
.input {
  background-color: #5c47d3 !important;
  width: 20rem;
  height: 2.5rem !important;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
}
.form input {
  width: 18rem;
  height: 2.5rem;
  background-color: #fcf9f9;
  border: solid lightgrey 1px;
  border-radius: 0.5rem;
}
.grey-square {
  background-color: lightgrey;
  width: 40%;
  padding: 2rem;
  border-radius: 5%;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.footer {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer span {
  font-weight: bold;
}
